<!-- THis is server side validation-->
{{#if error}}
<div class="alert alert-danger curl">{{error}}</div>
{{/if}}

{{#each errors}}
<div class="alert alert-danger curl">{{text}}</div>
{{else}}
{{/each}}